<h1> Movies</h1>
<% @movies.each do |movie| %>
<div>
  <img class = "a" src= <%= "#{movie.image}" %>>
</div>    
<br>
<p> <a href=<%="/movie/#{movie.id}"%>> Show </a></p>
<% end %>
<p>
<a href="/new_movie" class="new">New Movie</a>
</p>

