<h2> <center>New Profile</center> </h2>
<br><br><br>
<form action="/create_profile">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="url" placeholder="email">
  <input type="text" name="caption" placeholder="caption">
  <input type="text" name="image" placeholder="image">
  <input type="submit">
</form>