<h1> Movies </h1>
<p>
<img class = "b" src= <%= "#{@movie.image}" %>>
</p>
<p>
  <a href=<%="/movie/#{@movie.id}/edit"%>> Edit </a>
  <a href=<%="/movie/#{@movie.id}/destroy"%>> Delete </a>
</p>
<p>
    <a href="/movies"> All Movies </a>
</p>
  