<div>
  <h1><%= "#{@profile.name}" %></h1>
  <h2>
   <%= "#{@profile.url}" %>
  </h2>
  <h2><%= "#{@profile.caption}" %></h2>
    <p>
    <a href="http://rubyonrails-131022.use1.nitrousbox.com//profiles">All Profiles </a>
  </p>
  
  